@import url("https://fonts.googleapis.com/css?family=Noto%20Sans%20KR:200,400,700&display=swap");

body {
  margin: 0;
  padding: 0;
  background-color: #f6f6f6;
  font-family: "Noto Sans KR", "나눔바른고딕", Arial;
  letter-spacing: -2px;
}

table {
  width: 100%;
  height: 50vh;
}

a {
  color: #90baeb;
}

#dropdownContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  position: fixed;
  top: 3vh;
  left: 2vw;
}

#classSelector {
  background: none;
  padding: 6px 12px;
  font-size: 1.5vh;
  border: 2px solid #999;
  color: #999;
  border-radius: 5px;
}

#titleContainer {
  width: 100vw;
  height: 20vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#tableContainer {
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#tableInnerContainer {
  color: #666;
  font-weight: 700;
  font-size: 3vh;
  padding: 36px;
  max-width: 580px;
  margin: 0px 12px;
  background-color: #fff;
  border-radius: 10px;
  filter: drop-shadow(0 0 15px rgba(0, 0, 0, 0.1));
}

#title {
  margin: 0;
  font-size: 6vh;
  background: linear-gradient(to right bottom, #90baeb, #aca9f0);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

#explanation {
  text-align: center;
  width: 100%;
  color: #666;
  margin: 0;
  margin-top: 10px;
}

.schedule {
  cursor: pointer;
  text-align: right;
}

.time {
  color: #a8a8a8;
}

.selected {
  background: linear-gradient(to right bottom, #90baeb, #aca9f0);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

#infoContainer {
  font-size: 3vh;
  color: #a8a8a8;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  text-align: center;
  margin-top: 48px;
}

#footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  text-align: right;
  position: fixed;
  bottom: 0;
  right: 0;
}

#copyright {
  font-weight: 700;
  color: #ddd;
  font-size: 3vh;
  margin: 2vh;
}

@media screen and (max-width: 1100px) {
  #copyright {
    display: none;
  }
}

#adContainer {
  position: fixed;
  bottom: 0;
  left: 0;
}

.classSelect {
  color: #bbb;
  cursor: pointer;
}

.classSelect.true {
  color: #666;
}

/* Toggle switch */
/* The switch - the box around the slider */
#switchContainer {
  color: #999;
  font-size: 1.7vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  top: 2vh;
  right: 2vw;
  position: fixed;
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: none;
  border-radius: 10vh;
  border: 2px solid #999;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  border-radius: 10vh;
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 2px;
  bottom: 2px;
  background-color: #999;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  border-radius: 10vh;
  background: none;
  border: 2px solid #999;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

#switchContainer {
  display: none;
}

#switchExplanation {
  color: #999;
  font-size: 1.7vh;
}
